@use "../../sass/variables" as *;

.header {
    display: flex;
    flex-direction: row;
    background-color: $header-primary-color;
    height: 150px;

    img {
        width: $header-logo-width;
        height: $header-logo-height;
        margin: $header-logo-margin;
    }
}